{
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "jest": true,
  },
  "plugins": [
    "react",
    "flowtype"
  ],
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "rules": {
    "class-methods-use-this": 0,
    "react/jsx-filename-extension": 0
  },
  "globals": {
    "__DEV__": true
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [
          ".js",
          ".android.js",
          ".ios.js"
        ]
      }
    }
  }
}
